fastapi
uvicorn
streamlit
python-dotenv
pydantic-settings
langchain
langchain-community
langchain-huggingface
langchain-groq
pymilvus
pymupdf
unstructured
beautifulsoup4
requests
selenium
webdriver-manager
pytest
httpx
langchain-milvus
sentence-transformers
python-multipart
markdown
uuid